<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="inclusion :: head">
    <title id="pageTitle">Cpanel - Sélectionner la session</title>
    <div id="inclusions">

    </div>
</head>

<body>

<div class="wrapper">

    <div th:replace="inclusion :: sidebar">...</div>
    <div class="main-panel">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg " color-on-scroll="500">
            <div class=" container-fluid  ">
                <a class="navbar-brand" href="#pablo"> CPanel </a>
                <button href="" class="navbar-toggler navbar-toggler-right"
                        type="button" data-toggle="collapse"
                        aria-controls="navigation-index" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar burger-lines"></span> <span
                        class="navbar-toggler-bar burger-lines"></span> <span
                        class="navbar-toggler-bar burger-lines"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end"
                     id="navigation" th:insert="inclusion :: navbar"></div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row"  >
                    <div class="col-md-12">
                        <div class="card ">
                            <div class="card-header ">
                                <h4 class="card-title">Sélectionner la session</h4>
                            </div>
                            <div class="card-body ">
                                <input type="hidden" id="examSessionId" name="examSessionId" th:value="${examSession.id}"/>
                                <table
                                        id="sessionsTable"
                                        class="table table-striped table-bordered" cellspacing="0"
                                        width="100%">
                                    <thead>
                                    <tr>
                                        <th>ID étudiant</th>
                                        <th>Nom étudiant</th>
                                        <th>Note</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="subjectResult : ${subjectResults}">
                                        <td th:text="${subjectResult.key.student.id}"></td>
                                        <td th:text="${subjectResult.key.student.fullName}"></td>
                                        <td> <input name="mark" type="number" step="0.1" th:value="${subjectResult.mark}"/>
                                            <input name="studentId" th:value="${subjectResult.key.student.id}" type="hidden"/>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <button type="button" class="btn btn-primary float-right" onclick="submitResults()">Valider</button><br/><br/><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:insert="inclusion :: footer">...</div>
    </div>
</div>





</body>
<script>
    var sessionsTable;
    $(function(){
        sessionsTable = $("#sessionsTable").DataTable();
        var success= [[${success==null?false:success}]];
        if(success)
            demo.showNotification("Les notes ont été sauvegardé avec succès");
    });

    function submitResults(){
        var validForm =true ;
        sessionsTable.$("input[name=mark]").each(function(key,val){
            if(!$.isNumeric($(this).val()) || $(this).val()>20 || $(this).val()<0)
                validForm=false;
        });
        if(validForm)
            window.location.href= "/doEnterNotes?"+sessionsTable.$("input").serialize()+"&"+$("#examSessionId").serialize();
        else
            demo.showNotification("Veuillez entrer des notes valides dans tous les champs");
    }
</script>
</html>
